body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px;
  background-color: #f0f0f0;
}

#app {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 1px solid #808080;
  border-radius: 20px;
}

/* create-note block */

.container-create-note {
  display: flex;
  justify-content: flex-end;
  margin: 40px;
}

.create-note-btn {
  padding: 8px 25px;
  margin: 2px;
  cursor: pointer;
  background-color: #f5f3f3;
  color: rgb(0, 0, 0);
  border: 1px solid #808080;
  border-radius: 4px;
}

.create-note-btn:hover {
  background-color: #979797;
  transition: 1s;
}

.btn {
  margin-top: 20px;
}